*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    transition: all 0.3s;

}
a{
    text-decoration: none;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.dddd{
    margin-left: auto;
}
.main{
    background-image:url(../image/banner2.png) ;
    background-size: cover;

}
.c-li{
    list-style: disc;
}
.l{
    height: calc(100vh - 80px);

}
.input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input ,
input:hover ,
input:focus{
    box-shadow: none !important;
    border: none !important;
}
::-webkit-scrollbar {
    display: none;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 40;
}
.line{
    width: 30%;
    height: 5px;
    background-color: #dc3545;
    margin: 20px auto 0;
}